### Split Data into Train and Test dataset

#### Input 
* winequality-red.csv

#### Output
* train.parquet
* test.parquet

In [1]:
# params 
random_seed = 123
percent_train = 0.8

In [2]:
import os
import pandas as pd 
import pyarrow
from sklearn.model_selection import train_test_split

# file and directory info
project_dir = os.path.dirname(os.getcwd())
interim_folder = "/data/interim/"
raw_folder = "/data/raw/"
file_name = 'winequality-red.csv'
var_y = 'quality'

In [3]:
data = pd.read_csv(project_dir + raw_folder + file_name, error_bad_lines = False)
train, test = train_test_split(data, train_size = 0.2, random_state = random_seed)

In [4]:
train.to_parquet(project_dir + interim_folder + 'train.parquet')
test.to_parquet(project_dir + interim_folder + 'test.parquet')

In [5]:
print(train.shape)
train.head(10)

(319, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1182,10.2,0.400,0.40,2.5,0.068,41.0,54.0,0.99754,3.38,0.86,10.5000,6
1326,6.7,0.460,0.24,1.7,0.077,18.0,34.0,0.99480,3.39,0.60,10.6000,6
439,7.0,0.620,0.18,1.5,0.062,7.0,50.0,0.99510,3.08,0.60,9.3000,5
1168,6.5,0.340,0.27,2.8,0.067,8.0,44.0,0.99384,3.21,0.56,12.0000,6
405,8.7,0.310,0.46,1.4,0.059,11.0,25.0,0.99660,3.36,0.76,10.1000,6
593,9.9,0.490,0.58,3.5,0.094,9.0,43.0,1.00040,3.29,0.58,9.0000,5
1476,9.9,0.500,0.50,13.8,0.205,48.0,82.0,1.00242,3.16,0.75,8.8000,5
1359,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.0333,6
477,10.4,0.240,0.49,1.8,0.075,6.0,20.0,0.99770,3.18,1.06,11.0000,6
1333,9.1,0.775,0.22,2.2,0.079,12.0,48.0,0.99760,3.18,0.51,9.6000,5

In [6]:
print(test.shape)
train.head(10)

(1280, 12)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1182,10.2,0.400,0.40,2.5,0.068,41.0,54.0,0.99754,3.38,0.86,10.5000,6
1326,6.7,0.460,0.24,1.7,0.077,18.0,34.0,0.99480,3.39,0.60,10.6000,6
439,7.0,0.620,0.18,1.5,0.062,7.0,50.0,0.99510,3.08,0.60,9.3000,5
1168,6.5,0.340,0.27,2.8,0.067,8.0,44.0,0.99384,3.21,0.56,12.0000,6
405,8.7,0.310,0.46,1.4,0.059,11.0,25.0,0.99660,3.36,0.76,10.1000,6
593,9.9,0.490,0.58,3.5,0.094,9.0,43.0,1.00040,3.29,0.58,9.0000,5
1476,9.9,0.500,0.50,13.8,0.205,48.0,82.0,1.00242,3.16,0.75,8.8000,5
1359,11.6,0.475,0.40,1.4,0.091,6.0,28.0,0.99704,3.07,0.65,10.0333,6
477,10.4,0.240,0.49,1.8,0.075,6.0,20.0,0.99770,3.18,1.06,11.0000,6
1333,9.1,0.775,0.22,2.2,0.079,12.0,48.0,0.99760,3.18,0.51,9.6000,5